html, body {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > img{
    width: 50px;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list > li{
    padding: 20px
}
