body{
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

.info-section {
    text-align: center;
}

.info-section > h1 {
    color: white;
    height: 25.81px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}


.info-photo {
    background-image: url(./assets/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 10px 10px 0 0;

}