:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: #F5F7FB;
  background-image: url(./assets/blob-2.svg), url(./assets/blob-1.svg);
  background-repeat: no-repeat,  no-repeat;
  background-position:-10% 130%, 109% -10%;
}

.start-page {
  text-align: center;
  margin: 35vh auto;
}

.start-page > h1 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.start-page > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

.start-page > button {
  margin-top: 20px;
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
}

.question-section {
  margin: 40px auto;
  width: 80vh;
  display: flex;
  flex-direction: column;
}

.question-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #293264;
}

.question {
  display: grid;
  border-bottom: 1px solid #DBDEF0;
}

.question-options {
  display: flex;
  margin-bottom: 20px;
}

.option {
  margin-right: 10px;
  border: 1px solid #4D5B9E;
  border-radius: 7.94239px;
  cursor: pointer;
  min-height: 30px;
  font-weight: 500;
  font-size: 15px;  
  line-height: 12px;
  color: #293264;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  line-height: 17px;
  background: none;
}

.selected {
 background-color: #D6DBF5;
 border: none;
}

.correct {
  background-color: #94D7A2;
  color: #293264;
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
}

.incorrect {
  background-color: #F8BCBC;
  color: #293264;
  border: none;
}

.check-button {
  width: 120px;
  height: 45px;
  left: 215px;
  top: 490px;
  color: white;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}

.quiz-results {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #293264;
}