body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


.nav-section {
  height: 70px;
  background-color: #ffffff;
}

.nav-logo {
  padding: 20px 0 0 36px;
  height: 25px;
}

section {
  padding: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 400px;
  align-self: center;
}

.hero-heading{
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 0;
}

.hero-subheading{
  height: 56px;
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 110%;
  color: #222222;
  
}

.cards-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.card > p {
  font-weight: 200;
  font-size: 12px;
  width: 150px;
  line-height: 110%;
  color: #222222;
  margin-bottom: 0px;
}

.card-price-bold{
  font-weight: 700;
}

.card-image {
  border-radius: 9px;
  height: 240px;
  width: 180;
  z-index: -20;
}

.card-info {
  margin-top: 5px;
  font-style: normal;
  color: #222222;
}

.card-info span {
  font-weight: 300;
  font-size: 13px;
  margin-right: 3px;
  vertical-align: auto;
}

.card-accent-gray {
  font-weight: 300;
  font-size: 13px;
  line-height: 110%;
  color: #918E9B;
}

.card-star {
  height: 12px;
  margin-right: 3px;
}

.card-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}

.card-available{
  margin: 5px;
  margin-bottom: -25px;
  background-color: white;
  border-radius: 4px;
  font-weight: 400;
  font-size: 10px;
  width: 61px;
  height: 20px;
  text-align: center;
  z-index: 999;
}

.card-available > p {
  margin: auto;
  padding: 4px;
}