:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #0B2434;
}

.tenzi-main {
  background-color: #F5F5F5;
  height: 420px;
  width: 420px;
  margin: 5% auto;
  border-radius: 10px;
}

