body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.nav-section {
  background-color: #F55A5A;
  height: 55px;
}

.nav-content {
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}

.nav-content > img {
  margin: 12px 5px;
  height: 24px;
}

.nav-content > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.location-card {
  display: grid;
  grid-template-columns: .8fr 4fr;
  margin: 40px;
}

.location-image > img{
  margin: 20px;
  grid-column: 1/2;
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

