body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.nav-section {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.nav-section > h4 {
  margin: 0;
  padding: 20px;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
}

.nav-section > p {
  margin: 0;
  padding: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
}
