/* DarkMode */
body{
  margin: 0;
  background-color: #282D35;
}

#root {
  font-family: 'Inter', sans-serif;
  padding: 0; 
}

/* ----------------------nav style-------------------------- */

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}

.nav--logo_icon {
  width: 30px;
  margin-right: 10px;
}

.nav--logo_text {
  color: #61DAFB;
  margin-right: auto;
}

.nav--title {
  color: #DEEBF8;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}


/* ----------------------Main style-------------------------- */

.dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  padding: 1.5em;
}

.dark > h3 {
  margin-right: auto;
  margin-left: .2em;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
}

.dark > h4 {
  width: 259px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #DEEBF8;
}

.react-logo {
  width: 40px; 
}

.main-content {
  padding: 50px;
  background-image: url(./assets/react-icon-dark.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  
}


.main-content > h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  font-style: normal;
}


.main-content > ul > li::marker {
  color: #61DAFB; /* Change the color */
  font-size: 1.4rem;
  
}

.main-content > ul > li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 400px;
  margin-top: 1em;
}

